.wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

.innerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}